.texto05 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: xx-large;
    
    font-weight: bolder;
    align-items: center;
    padding-top: 2%;
    padding-left: 45.5%;
    background-color: #6600CC;
    color: aliceblue;
    
}

.formulario {
   
}