
.dadosContato {
    font-family:'Montserrat Alternates', cursive ,sans-serif;
    margin: 1%;
    padding-left: 3%;
    width: 45%;
    height: 50%;
    background-color: white;
    border-width: 3px;
    border-color: black;
    padding-bottom: 1%;
    border-radius: 2.5%;
}

.metodoPagamento{
    margin: 1%;
    padding-left: 3%;
    height: 100px;
    width: 690px;
    background-color: white;
    border-width: 3px;
    border-color: black;
    padding-bottom: 1%;
    border-radius: 10px;
}

