@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600;700;800&display=swap');

*{
    font-family: 'Montserrat Alternates', sans-serif;
}

@media screen and (max-width: 768px) {
    *{flex-direction: column;}
}

.borda, Input{
    border-radius: 8px;
    border: solid black 3px;
}

.spacingy > *{
    margin-bottom: 16px;
}

.fw7{
    font-weight: 700;
}

.content {
    text-align: center;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
::-webkit-scrollbar-thumb {
    background: #C1C0C0;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
  }